.shadow-most p{width:70vw;font-size:1.4rem}.shadow-most .symbols{width:90vw;display:flex;flex-direction:row;flex-wrap:wrap;justify-content:center}.shadow-most .symbols .symbol{width:25vw;height:25vw}
